{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block css_additional %}
  <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}" />
{% endblock %}

{% block title %}
  Гороскоп для {{ sing|title }}
{% endblock %}

{% block content %}
  {% include 'include/navbar.html' %}
  <h1>{{ discription|split|first }}</h1>
  {% if discription is None %}
    <h2>Неправильный знак зодиака - {{ sing|upper }}</h2>
  {% else %}
    <h2>{{ discription|capfirst|safe }}</h2>
  {% endif %}
{% endblock %}
